<div class="container">
  <div class="col-md-6 mx-auto mt-5">
    <div>
      <img src="https://github.com/AuraMelisa01/cdmx-social-network-frameworks/blob/gh-pages/assets/beemom.png?raw=true" class="rounded mx-auto d-block logo responsive" alt="Beemom">
      <h3 class="mx-auto">REGISTRAR</h3>
    </div>
    <div class="card">
      <div class="card-body">
          <form (submit)="onSubmitAddUser()" [formGroup]="loginForm" novalidate>

              <div class="form-group sizeDiv">
                <input formControlName="email" type="email" class="form-control" id="email" name="email" [(ngModel)]="email" aria-describedby="emailHelp"
                  placeholder="Correo" required>
                <div *ngIf="loginForm.get('email').errors" class="alert alert-danger">
                  <div class="textsize" *ngIf="loginForm.get('email').errors['required']">
                    * Campo obligatorio
                  </div>
                  <div class="textsize" *ngIf="loginForm.get('email').errors['email']">
                    * Correo inválido
                  </div>
                </div>
              </div>

              <div class="form-group sizeDiv">
                <input formControlName="password" type="password" class="form-control" id="password" name="password" [(ngModel)]="password"
                  placeholder="Contraseña" required>
                <div *ngIf="loginForm.get('password').errors" class="alert alert-danger">
                  <div class="textsize" *ngIf="loginForm.get('password').errors['required']">
                  * Campo obligatorio
                  </div>
                  <div class="textsize" *ngIf="loginForm.get('password').errors['minlength']">
                  * Contraseña mayor de 6 caracteres
                  </div>
                </div>
              </div>
          <input type="submit" value="Registrar" class="btn btncolor btn-danger btn-block" [disabled]="!loginForm.valid">
        </form>
      </div>
    </div>
  </div>
</div>
