p {
  color: #C70039;
  font-size: 30px;
  text-align: center;
}

.icons {
  display: inline-flex;
  float: right;
  padding-right: 15px;
  color:#C70039;
}

.margenCard {
  margin-top: 13px;
}

.margenDiv {
  margin-top: 25px;
}
